@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.bg-dark-blue {
  background-color: hsl(209, 23%, 22%);
}

.bg-very-dark-blue {
  background-color: hsl(207, 26%, 17%)
}

.very-light-gray {
  background-color: hsl(0, 0%, 98%)
}

.light-text-on-dark-blue {
  color: hsl(200, 15%, 8%);
}

.light-input-on-dark-blue {
  background-color: hsl(0, 0%, 52%)
}

p, h1 {
  margin: 0;
}

.shadow-card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.066);
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.search {
  width: 400px;
  border-radius: 5px;
  padding: 0px 0px;

}

.dropdown {
  width: 200px;
  border-radius: 5px;
  padding: 0px 0px;

}

.h-300 {
  min-height: 300px;
}

.h-290 {
  min-height: 290px;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width:425px) {
  .title {
    font-size: 18px;
    padding: 30px 0px;
  }
}